.paginator-container {
  position: absolute;
  width: 100%;
  text-align: center;
}

.paginator {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0 1.5rem;
  background-image: url(/svg/chevron-left.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.paginator--right {
  transform: rotate(180deg);
}
