html,
body {
  @include theme() {
    background-color: theme-get('bg');
    color: theme-get('text');
  }
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
