.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__icon {
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-icons__icon--twitter {
  background-image: url(/icons/twitter.svg);
  margin-right: 2rem;
}

.social-icons__icon--github {
  background-image: url(/icons/github.svg);
}
