{{ $currentPage := . }}
{{ $icons := .Site.Params.iconOrder | default (slice "Twitter" "GitHub" "Email" "Facebook" "GitLab" "Instagram" "LinkedIn" "YouTube") }}

<div class="social-icons">
  {{ range $icons }}
    {{ $icon := anchorize . }} 
    {{ if isset $currentPage.Site.Params $icon }}
      <a class="social-icons__link" title="{{ . }}"
         href="{{ index $currentPage.Site.Params $icon }}"
         target="_blank" rel="noopener">
        {{ if eq $icon "email" }}
          <i class="social-icons__icon fas fa-envelope fa-lg"></i>
        {{ else }}
          <i class="social-icons__icon fab fa-{{$icon}} fa-lg"></i>
        {{ end }}
      </a>
    {{ end }}
  {{ end }}   
</div>
